@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme('colors.celestial-blue');
  --foreground: theme('colors.gunmetal');
}

@media (prefers-color-scheme: light) {
  :root {
    --background: theme('colors.tiffany-blue');
    --foreground: theme('colors.black');
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Fira Code", "Ubuntu Mono", "Consolas", "Source Code Pro", monospace;
}

html {
  scroll-behavior: smooth;
}

.input {
  @apply w-full rounded-lg px-4 py-3 border border-gunmetal
  bg-white bg-opacity-90 text-gunmetal
  focus:outline-none focus:ring-2 focus:ring-tiffany-blue;
}

/* Ensure navbar links don't overlap on small screens */
@media (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Adds spacing between links */
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 1rem;
  }

  header {
    padding: 1rem;
  }

  nav a {
    display: block;
    width: 100%;
    text-align: center;
  }
}
